$base-0: #212529;
$base-1: #343a40;
$base-2: #495057;
$base-3: #6c757d;
$base-4: #adb5bd;
$base-5: #ced4da;
$base-6: #dee2e6;
$base-7: #e9ecef;
$base-8: #f8f9fa;
$base-9: #ffffff;

$primary-1: #a8cbfe;
$primary-2: #81b4fe;
$primary-3: #5a9cfe;
$primary-4: #3485fd;
$primary-5: #0d6efd;
$primary-6: #0b5cd5;
$primary-7: #094bac;
$primary-8: #073984;
$primary-9: #05285b;

$indigo-1: #c8a9fa;
$indigo-2: #af83f8;
$indigo-3: #975cf6;
$indigo-4: #7e36f4;
$indigo-5: #6610f2;
$indigo-6: #560dcb;
$indigo-7: #450ba5;
$indigo-8: #35087e;
$indigo-9: #250657;

$purple-1: #cbbbe9;
$purple-2: #b49ddf;
$purple-3: #9d7ed5;
$purple-4: #8660cb;
$purple-5: #6f42c1;
$purple-6: #5d37a2;
$purple-7: #4b2d83;
$purple-8: #3a2264;
$purple-9: #281845;

$pink-1: #f0b6d3;
$pink-2: #ea95bf;
$pink-3: #e374ab;
$pink-4: #dd5498;
$pink-5: #d63384;
$pink-6: #b42b6f;
$pink-7: #92235a;
$pink-8: #6f1b45;
$pink-9: #4d1230;

$red-1: #f2b6bc;
$red-2: #ed969e;
$red-3: #e77681;
$red-4: #e25563;
$red-5: #dc3545;
$red-6: #b92d3a;
$red-7: #96242f;
$red-8: #721c24;
$red-9: #4f1319;

$orange-1: #fed1aa;
$orange-2: #febc85;
$orange-3: #fea75f;
$orange-4: #fd933a;
$orange-5: #fd7e14;
$orange-6: #d56a11;
$orange-7: #ac560e;
$orange-8: #84420a;
$orange-9: #5b2d07;

$yellow-1: #ffe9a6;
$yellow-2: #ffdf7e;
$yellow-3: #ffd556;
$yellow-4: #ffcb2f;
$yellow-5: #ffc107;
$yellow-6: #d6a206;
$yellow-7: #ad8305;
$yellow-8: #856404;
$yellow-9: #5c4503;

$green-1: #b2dfbc;
$green-2: #8fd19e;
$green-3: #6dc381;
$green-4: #4ab563;
$green-5: #28a745;
$green-6: #228c3a;
$green-7: #1b722f;
$green-8: #155724;
$green-9: #0e3c19;

$teal-1: #afecda;
$teal-2: #8be3c9;
$teal-3: #67dab8;
$teal-4: #44d2a8;
$teal-5: #20c997;
$teal-6: #1ba97f;
$teal-7: #168967;
$teal-8: #11694f;
$teal-9: #0c4836;

$cyan-1: #abdee5;
$cyan-2: #86cfda;
$cyan-3: #61c0cf;
$cyan-4: #3cb1c3;
$cyan-5: #17a2b8;
$cyan-6: #13889b;
$cyan-7: #106e7d;
$cyan-8: #0c5460;
$cyan-9: #083a42;