$border-radius: 15px;
$vertical-elem-spacing: 20px;

// Для input и button
$ui-tb-padding: 7px;
$ui-line-height: 20px;

// Центровка контента на странице
$page-max-content-width: 825px;
$page-content-padding: 10px;
$main-header-height: 50px;